* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.dark {
    background-color: #222;
    color: #fff;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    padding: 15px;
    background-color: darkolivegreen;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    cursor: pointer;
}
